{% extends "base.html" %}

{% load static %}

{% block main %}
  {% block content %}
    <div class="container my-5">
      <div class="card">
        <div class="card-body">
          <h2 style="color:#1571D6" class="card-title">Terms and Conditions of AcctMarket</h2>
          <hr />
          <h4 style="color:#1571D6" class="mt-4">1. Introduction</h4>
          <p>
            Welcome to AcctMarket, the premier marketplace connecting social media influencers with brands. These Terms and
            Conditions ("T&C") govern your use of our website and services. By accessing or using our website, you agree to
            adhere to these T&C.
          </p>
          <h4 style="color:#1571D6" class="mt-4">2. Use of the Website</h4>
          <p>Users must be at least 18 years of age to utilize our website and services.</p>
          <p>Users are solely responsible for the security of their accounts and all actions taken under their accounts.</p>
          <h4 style="color:#1571D6" class="mt-4">3. Intellectual Property</h4>
          <p>
            All content and materials on our website, including text, graphics, logos, images, and software, are protected
            by copyright and trademarks owned by AcctMarket.
          </p>
          <h4 style="color:#1571D6" class="mt-4">4. User Conduct</h4>
          <p>
            Users agree not to engage in any harmful, offensive, or illegal activities while using our website and
            services.
          </p>
          <p>Users must comply with all applicable laws and regulations.</p>
          <h4 style="color:#1571D6" class="mt-4">5. Warranty Policy</h4>
          <p>
            We stand behind the quality of our products and services, offering a 24-hour warranty period for products
            purchased through our website.
          </p>
          <h4 style="color:#1571D6" class="mt-4">6. Limitation of Liability</h4>
          <p>
            AcctMarket shall not be held liable for any damages or losses incurred after the expiration of the 24-hour
            warranty period.
          </p>
          <h4 style="color:#1571D6" class="mt-4">7. Governing Law and Jurisdiction</h4>
          <p>
            These Terms and Conditions are governed by the laws of [Your Country/State]. Any disputes arising under these
            T&C shall be subject to the exclusive jurisdiction of the courts located in [Your Jurisdiction].
          </p>
          <h4 style="color:#1571D6" class="mt-4">8. Changes to Terms and Conditions</h4>
          <p>
            AcctMarket reserves the right to revise, update, or modify these Terms and Conditions at any time without prior
            notice. Continued use of our website and services constitutes acceptance of the revised terms.
          </p>
        </div>
      </div>
    </div>
  {% endblock content %}
{% endblock main %}
